// FAB
.FAB {
  @include flex-center-screen;
  background: rgba(104, 104, 243, 0.22);
  height: 3rem;
  width: 3rem;
  border-radius: 50%;
  position: absolute;
  bottom: 1rem;
  right: 1rem;
  cursor: pointer;
  z-index: 1;
  &:hover {
    box-shadow: 3px 5px 20px rgba(104, 104, 243, 0.22);
  }

  img {
    height: 1.8rem;
  }
}

// NAVBAR
.navbar {
  height: 4rem;
  width: 100vw;
  @include flex-center-screen;
  justify-content: flex-start;
  padding: 0 1rem;
  &__title {
    font-size: 1.6rem;
    letter-spacing: 0.05rem;
    margin-right: auto;
  }

  &__user-avatar {
    @include flex-center-screen;
    cursor: pointer;
    height: 2.2rem;
    width: 2.2rem;
    border-radius: 50%;
    background: rgba(104, 104, 243, 0.22);

    img {
      height: 1.2rem;
    }
  }
}

// CARD
.card {
  @include flex-center-screen;
  justify-content: flex-start;
  padding: 0 0.8rem;
  width: 100%;
  background: $bg-dark2;
  border-radius: 5px;

  &:not(:last-child) {
    margin-bottom: 8px;
  }

  &__icon {
    margin-right: 0.8rem;
    @include flex-center-screen;
    height: 3rem;
    width: 3rem;
    border-radius: 50%;
    background: rgba(104, 104, 243, 0.22);

    img {
      height: 1.5rem;
    }
  }
  &__title {
    cursor: pointer;
    h2 {
      font-size: 1.2rem;
      line-height: 0.8rem;
    }
    p {
      opacity: 0.6;
    }
  }

  &__title.message-card {
    cursor: auto;
    p:first-child {
      opacity: 1;
    }
  }
  &__right-icon {
    margin-left: auto;
    cursor: pointer;
    transition: transform 0.5s ease-in-out;

    &:hover {
      transform: scale(1.2);
    }
  }
}
