// FAB
.FAB {
  @include flex-center-screen;
  background: rgba(104, 104, 243, 0.22);
  height: 3rem;
  width: 3rem;
  border-radius: 50%;
  position: absolute;
  bottom: 1rem;
  right: 1rem;
  cursor: pointer;
  z-index: 1;
  &:hover {
    box-shadow: 3px 5px 20px rgba(104, 104, 243, 0.22);
  }

  img {
    height: 1.8rem;
  }
}

// NAVBAR
.navbar {
  height: 4rem;
  width: 100vw;
  @include flex-center-screen;
  justify-content: flex-start;
  padding: 0 1rem;
  &__title {
    font-size: 1.6rem;
    letter-spacing: 0.05rem;
    margin-right: auto;
  }

  &__user-avatar {
    @include flex-center-screen;
    cursor: pointer;
    height: 2.2rem;
    width: 2.2rem;
    border-radius: 50%;
    background: rgba(104, 104, 243, 0.22);
    .avatar-img {
      border-radius: 50%;
      height: 100%;
    }
    img {
      height: 1.2rem;
    }
  }
}

// CARD
.card {
  @include flex-center-screen;
  justify-content: flex-start;
  padding: 0 0.8rem;
  width: 100%;
  background: $bg-dark2;
  border-radius: 5px;

  &:not(:last-child) {
    margin-bottom: 8px;
  }

  &__icon {
    margin-right: 0.8rem;
    @include flex-center-screen;
    height: 3rem;
    width: 3rem;
    border-radius: 50%;
    background: rgba(104, 104, 243, 0.22);

    img {
      height: 1.5rem;
    }
  }
  &__title {
    cursor: pointer;
    h2 {
      font-size: 1.2rem;
      line-height: 0.8rem;
    }
    p {
      opacity: 0.6;
    }
  }

  &__title.message-card {
    cursor: auto;
    p:first-child {
      opacity: 1;
    }
  }
  &__right-icon {
    margin-left: auto;
    cursor: pointer;

    img {
      &:not(:last-child) {
        margin-right: 5px;
      }
      transition: transform 0.5s ease-in-out;
      &:hover {
        transform: scale(1.2);
      }
    }
  }
}

// MODAL
.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  min-width: 85%;
  max-width: 100%;
  min-height: 5rem;
  background: $bg-dark2;
  padding: 0.2rem 0.8rem;
  box-shadow: 5px 9px 20px rgba(0, 0, 0, 0.25);
  padding-bottom: 0.8rem;

  &__close {
    position: absolute;
    right: 0.5rem;
    top: 0.8rem;
    cursor: pointer;
  }

  &__header {
    h3 {
      line-height: 1.2rem;
    }
  }

  &__body {
    input {
      width: 100%;
    }
    button {
      margin-top: 0.5rem;
    }
  }
}

.spinner {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  img {
    height: 5rem;
  }
}

// SNACKBAR
.snackbar {
  background: $bg-dark2;
  height: 3rem;
  max-width: 25rem;
  width: 100%;
  position: fixed;
  bottom: 0;
  right: 0;
  z-index: 999;

  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding: 0 0.5rem;

  &__msg {
    width: 60%;
    letter-spacing: 0.02rem;
  }

  &__action-text {
    cursor: pointer;
    margin-left: auto;
    font-size: 0.9rem;
    font-weight: 500;
    letter-spacing: 0.05rem;
    padding: 0.1rem 0.3rem;
    background: $semi-transparent-primary;
    color: $primary-color;
  }
}
